img {
    max-width: 100%;
    height: 100vh;
}
.slides > img:not(img.active) {
    display: none;
}
.slides > img.active {
    display: block;
    position: relative;
}
  .thumbs > img {
    width: calc(100% / 4);
  }
/* Next & previous buttons */
.prev, .next {
    position: absolute;
    right: 50%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 0.25rem 0.5rem;
    border-radius:50%;
    background-color: transparent;
}
/* Position the "next button" to the bottom */
.next {
    bottom: 0;
  }
/* Position the "prev button" to the top */
.prev {
    top: 0px;
}
/* On hover, add a gray background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #CCCCCC;
    border-radius: 50%;
}
  
